ARENA17_SECRET_KEY=gere-um-segredo-longo-e-aleatorio-aqui
ARENA17_INSTANCE_PATH=/opt/arena17-downloads/instance
ARENA17_DOWNLOADS_DIR=/var/www/arena17/downloads
ARENA17_UPLOAD_TMP_DIR=/var/www/arena17/uploads-tmp
ARENA17_MAX_UPLOAD_BYTES=8589934592
